.release-section {
  &__container {
    text-align: center;

    &-image {
      max-height: 500px;
    }

    &-content {
      h2 {
        font-family: 'lato';
        font-size: 24px;
      }
    }
  }
}